<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="ng.com.kizer.raspump.app" version="0.0.1" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Raspump</name>
    <description>
        Raspberry pi-controlled boost pump, phone software
    </description>
    <author email="kizer@kizer.com.ng" href="https://github.com/xkizer">
        Kizer Chuks
    </author>
    <platform name="android" />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
